Twisted==12.0.0
argparse==1.2.1
beautifulsoup4==4.1.0
distribute==0.6.24
eventlet==0.9.16
gevent==0.13.6
greenlet==0.3.4
gunicorn==0.14.3
redis==2.4.11
setproctitle==1.1.6
tornado==2.2.1
virtualenv==1.7.1.2
wsgiref==0.1.2
zope.interface==4.0.1
texttable==0.8.1
